/* styles/fonts.css */
@font-face {
    font-family: 'Aborm';
    src: url('/fonts/Aborm-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

/* styles/fonts.css */
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* styles/fonts.css */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  